# Gradle files
.gradle/
build/

# Local configuration file
local.properties

# Android Studio and IntelliJ IDEA folder
.idea/

# macOS folder attributes
.DS_Store

# Android Studio profiling data
captures/

# Folders with native build outputs
.externalNativeBuild/
.cxx/

# IntelliJ project files
*.iml

# Signing keys
*.jks
*.keystore